.admin {
    display: flex;
}
.container {
    width: 100%;
    padding: 2rem;
}
.header {
    button {
        height: 56px;
        width: 200px;
        border: 0;
        border-radius: 6px;
        background: var(--gray-1);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 .75rem;
        margin-bottom: 1.5rem;
        img {
            margin-right: .5rem;
        }
    }
    p {
        color: #fff;
        font-size: 1.125rem;
    }
}
.content {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    .button {
        width: 248px;
        padding: 0 .75rem;
        height: 48PX;
        background: var(--main);
        border: 0;
        border-radius: 6px;
        color: #fff;
        font-weight: 600;
        margin-bottom: 1.5rem;
        svg {
            margin-right: .5rem;
        }
    }
    .select {
        width: 100%;
        max-width: 500px;
        height: 48px;
        border: 0;
        background: var(--gray-1);
        border-radius: 6px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 .75rem;
    }
}
.search {
    width: 100%;
}
.input_box {
    flex: 1;
    margin-left: 1.5rem;
    position: relative;
    display: flex;
    align-items: center;
    svg {
        position: absolute;
        font-size: 16;
        left: .75rem;
    }
    input {
        height: 48px;
        width: 100%;
        background: var(--gray-1);
        border: 0;
        border-radius: 6px;
        padding-left: 40px;
        color: #fff;
        &:focus {
            border: 1px solid var(--secondary);
            outline: 0;
        }
    }
}