.button {
    height: 48px;
    width: 248px;
    background: var(--main);
    color: #fff;
    border: 0;
    border-radius: 6px;
    margin-top: 1.5rem;
    svg {
        margin-right: .5rem;
    }
}

.create_item {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
}
.overflow {
    width: 100vw;
    height: 100vh;
}
.content {
    position: absolute;
    padding: 1.5rem 2rem;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 960px;
    height: 100vh;
    overflow: auto;
    background: #24252A;
    .title {
        display: block;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }
}
.tabs {
    display: flex;
    gap: 1rem;
    button {
        height: 40px;
        background: transparent;
        border: 0;
        color: #fff;
        transition: .3s;
        border-bottom: 2px solid transparent;
        &.active {
            color: var(--main);
            border-bottom: 2px solid var(--main);
            font-weight: 600;
        }
    }
}
.upload_image {
    margin-left: 1.5rem;
    .title {
        font-size: 1rem;
        font-weight: 600;
        color: #fff;
        margin-bottom: .25rem;
    }
    p {
        color: #c3c3c3;
        font-size: .875rem;
        margin-bottom: 1rem;
    }
    .area {
        width: 280px;
        height: 180px;
        border: 2px dashed #FFFFFF;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 1rem;
        overflow: hidden;
        img {
            border-radius: 6px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        label {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            border-radius: 6px;
            height: 40px;
            border: 1px solid var(--main);
            background: transparent;
            color: var(--main);
            cursor: pointer;
        }
        svg {
            font-size: 1.5rem;
            color: var(--gray-2);
            margin-bottom: 3rem;
        }
    }
}
.title_secondary {
    display: block;
    font-size: 1.125rem;
    margin-top: 32px;
    margin-bottom: .5rem;
    color: #fff;
}
.subtitle {
    color: #c3c3c3;
    margin-bottom: 1.5rem;
}
.card_checkbox {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    background: var(--gray-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    justify-content: space-between;
    cursor: pointer;
    &.active {
        .check {
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 4px solid var(--main);
        } 
    }
    .check {
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid #c3c3c3;
        transition: .1s;
    }
    svg {
        color: #fff;
    }
    .title_check {
        color: #fff;
        font-size: .875rem;
        text-align: center;
    }
}
.input_unit {
    label {
        color: #fff;
        margin-bottom: .5rem;
    }
    input {
        height: 48px;
        border: 0;
        width: 180px;
        background: var(--gray-1);
        border-radius: 6px;
        margin-right: .5rem;
        color: #fff;
        padding: 0 .75rem;
        &:focus {
            border: 1px solid var(--secondary);
            outline: 0;
        }
    }
    button {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--gray-1);
        border-radius: 6px;
        margin-right: .5rem;
        border: 0;
        color: #fff;
        font-weight: 600;
    }
    .btn_desconto {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 248px;
        height: 48px;
        background: var(--main);
        color: #fff;
        font-weight: 600;
        border: 0;
        border-radius: 6px;
    }
}
.btn_submit {
    width: 300px;
    height: 48px;
    margin-top: 2rem;
    border: 0;
    border-radius: 6px;
    background: var(--main);
    color: #fff;
    font-weight: 600;
}
