.category {
    width: 100%;
    min-height: 200px;
    border-radius: 6px;
    background: var(--gray-1);
    padding: 1.5rem 1rem 1rem 1rem;
}
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid #333;
    .title {
        font-size: 1.5rem;
        color: #fff;
    }
}
.togle {
    display: flex;
    button:first-child {
        height: 2rem;
        width: 100px;
        border: 0;
        border-radius: 6px 0 0 6px;
        color: #fff;
        font-size: .875rem;
        background: var(--gray-2);
    }
    button:last-child {
        height: 2rem;
        width: 100px;
        border: 0;
        border-radius: 0 6px 6px 0;
        color: #fff;
        font-size: .875rem;
        background: var(--main);
    }
}
.togle_price {
    display: flex;
    button:first-child {
        height: 2rem;
        width: 100px;
        border: 0;
        border-radius: 6px 0 0 6px;
        color: #fff;
        font-size: .875rem;
        background: var(--gray-2);
    }
    button:last-child {
        height: 2rem;
        width: 100px;
        border: 0;
        border-radius: 0 6px 6px 0;
        color: #fff;
        font-size: .875rem;
        background: var(--main);
    }
}
.button {
    height: 48px;
    width: 248px;
    background: var(--main);
    color: #fff;
    border: 0;
    border-radius: 6px;
    margin-top: 1.5rem;
    svg {
        margin-right: .5rem;
    }
}
.btn_icon {
    height: 32px;
    color: #fff;
    background: transparent;
    border: 0;
}
.row {
    margin: 0;
    padding: .75rem 0;
    border-bottom: 1px solid #656776;
    .col {
        height: 72px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .title {
        color: #fff;
        font-weight: 600;
        svg {
            color: var(--main);
            margin-left: .25rem;
        }
    }
    .image {
        width: 100%;
        height: 72px;
        border-radius: 6px;
        background: #656776;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .name {
        color: #fff;
        font-size: 1.125rem;
        font-weight: 600;
    }
    P {
        font-size: .875rem;
        margin-bottom: 0;
        color: #C3C3C3;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}
