.header {
    height: 100px;
    background: transparent !important;
}
.navbar {
    height: 100px;
    width: 100%;
    z-index: 9999;
    position: fixed;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #333;
    background: #24252a77 !important;
    backdrop-filter: blur(24px);
    a {
        margin-right: 3rem;
        color: #c3c3c3;
        text-decoration: none;
    }
    .link_active {
        color: #fff;
        font-weight: 600;
    }
}
.btn {
    color: #fff !important;
    font-weight: 600;
    width: 200px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main);
    border-radius: 6px;
    margin-right: 0 !important;
}
.button_collapse {
    border: 0;
    background: transparent;
}